@import "tailwindcss";
@plugin "daisyui" {
  themes: qr-light --default, qr-dark --prefersdark;
}

:root,
:root:has(input.theme-controller[value=qr-light]:checked),
[data-theme="qr-light"] {
  color-scheme: light;
  --color-primary: 15 15 15;
  --color-primary-content: 250 250 250;

  --color-base-100: 250 250 248;
  --color-base-200: 235 235 232;
  --color-base-300: 215 215 212;
  --color-base-content: 15 15 15;

  --color-secondary: 95 95 95;
  --color-secondary-content: 250 250 250;

  --color-accent: 60 60 60;
  --color-accent-content: 250 250 250;

  --color-error: 220 38 38;
  --color-error-content: 255 255 255;
}

:root:has(input.theme-controller[value=qr-dark]:checked),
[data-theme="qr-dark"] {
  color-scheme: dark;
  --color-primary: 240 240 240;
  --color-primary-content: 16 16 16;

  --color-base-100: 16 16 16;
  --color-base-200: 32 32 32;
  --color-base-300: 48 48 48;
  --color-base-content: 240 240 240;

  --color-secondary: 130 130 130;
  --color-secondary-content: 16 16 16;

  --color-accent: 90 90 90;
  --color-accent-content: 16 16 16;

  --color-error: 220 38 38;
  --color-error-content: 255 255 255;
}

@layer base {
  h1 {
    @apply text-3xl mb-6 clear-both;
  }
  h2 {
    @apply text-xl mt-2 mb-4 clear-both;
  }
  h3 {
    @apply text-lg mt-2 mb-2;
  }
  p {
    @apply mb-2;
  }
  a {
    @apply text-blue-600 hover:text-blue-400 underline cursor-pointer;
  }
}